html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Add to src/App.css */
.a-canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute !important;
  top: 0; left: 0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.a-dialog {
  /* Example customizations */
  background: rgba(30, 30, 30, 0.95) !important;
  color: #fff !important;
  border-radius: 1rem !important;
  font-family: 'Inter', sans-serif !important;
  position: fixed !important;
  z-index: 9999 !important;
}

.a-dialog-button {
  background: #111 !important;
  color: #fff !important;
  border-radius: 0.5rem !important;
  font-weight: bold !important;
  margin: 0 0.5rem !important;
  z-index: 9999 !important;
}

.a-dialog-deny {
  background: #0a0204 !important; 
  z-index: 9999 !important;/* Tailwind rose-600 */
}

.a-dialog-allow {
  background: #637b7f !important; 
  z-index: 9999 !important;/* Tailwind cyan-500 */
}

/* Tooltip for ArtistButtonList */
.icon {
  position: relative;
  z-index: 1 !important;
  background: #ffffff00;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  cursor: pointer;
  transition: all .2s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  text-align: center;
  width: 150px;
  height: 30px;
  background: #ffffff00;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  opacity: 0;
  pointer-events: none;
  transition: all .3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.tooltip::before {
  content: "";
  position: absolute;
  height: 8px;
  width: 8px;
  background: #000000;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
}

.icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* Green theme on hover for your AR button */
.karpe:hover,
.karpe:hover .tooltip,
.karpe:hover .tooltip::before {
  background: #000000;
  color: #fff;
}

/* Arteis List */
/* From Uiverse.io by bociKond */ 
/* Spotify music card made by: csozi | Website: www.csozi.hu*/

.card {
  position: relative;
  min-width: 250px;
  min-height: 120px;
  background: #ffffff00;
  border-radius: 10px;
  padding: .8rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
  box-shadow: 0 10px 40px -25px rgba(100, 100, 100, .5);
}

.top {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-block-end: .5rem;
}

.pfp {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 900;
}

.title-2 {
  color: white;
  font-size: .75rem;
  opacity: .8;
}

/* new */
.song-time {
  width: 100%;
  margin-inline: auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: .3rem;
}

.time {
  width: 90%;
  background-color: #5e5e5e;
  height: .35rem;
  border-radius: 3px;
}

.elapsed {
  width: 42%;
  background-color: #1db954;
  height: 100%;
  border-radius: 3px;
}

.controls {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.volume {
  height: 100%;
  width: 48px;
}

.air {
  height: 100%;
  width: 48px;
}

.controls svg {
  cursor: pointer;
  transition: 0.1s;
}

.controls svg:hover {
  color: #1db954;
}

.controls .heart:hover {
  color: pink;
}

.volume {
  opacity: 0;
  position: relative;
  transition: 0.2s;
}

.volume .slider {
  height: 4px;
  background-color: #5e5e5e;
  width: 80%;
  border-radius: 2px;
  margin-left: .3rem;
}

.volume .slider .green {
  background-color: #1db954;
  height: 100%;
  width: 80%;
  border-radius: 3px;
}

.volume .circle {
  background-color: white;
  height: 6px;
  width: 6px;
  border-radius: 3px;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}

.volume_button:hover ~ .volume {
  opacity: 1;
}

.timetext {
  color: white;
}

.time_now {
  font-size: .8rem;
  background-color: #00000060;
  padding: .5rem;
  border-radius: .5rem;
  background-blend-mode: multiply;
}

.time_full {
  font-size: .8rem;
  background-color: #00000060;
  padding: .5rem;
  border-radius: .5rem;
  background-blend-mode: multiply;
}

.playing {
  display: flex;
  position: relative;
  justify-content: center;
  gap: 1px;
  width: 30px;
  height: 20px;
}

.greenline {
  background-color: #1db954;
  height: 20px;
  width: 2px;
  position: relative;
  transform-origin: bottom;
}

.line-1 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.2s;
}

.line-2 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.5s;
}

.line-3 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.6s;
}

.line-4 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0s;
}

.line-5 {
  animation: infinite playing 1s ease-in-out;
  animation-delay: 0.4s;
}

@keyframes playing {
  0% {
    transform: scaleY(0.1);
  }

  33% {
    transform: scaleY(0.6);
  }

  66% {
    transform: scaleY(0.9);
  }

  100% {
    transform: scaleY(0.1);
  }
}
/* Arteis List */

/* Artis Button List */
/* From Uiverse.io by vinodjangid07 */ 
.Btn {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: black;
  position: relative;
  /* overflow: hidden; */
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all 0.3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(20, 20, 20);
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all 0.3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(207, 207, 207, 0.466);
  backdrop-filter: blur(4px);
}

/* Artis Button List */

/* Add to src/App.css */
@keyframes fade-in {
  from { opacity: 0 }
  to { opacity: 1 }
}